<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>FK kilépett</title>
</head>
<body>
<div align="center">
    <h2>Kijelentkezett!</h2>
    <a href="{% url 'login'%}">Kattintson a belépéshez.</a>
</div>
</body>
</html>