{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>FK</title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <i class="fas fa-user"> {{ user.get_full_name }}</i>
        <h1>Feladatkezelő</h1>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            {% if perms.fk.can_add_new_issue %}
                <ul>
                    <li><a href="/create">Új ügy felvétele</a></li>
                    <li><a href="/opened">Nyitott</a></li>
                    <li><a href="/suspended">Felfüggesztett</a></li>
                    <li><a href="/petition">Felterjesztett</a></li>
                    <li><a href="/department">Osztályos</a></li>
                    <li><a href="/closed">Lezárt</a></li>
                    <li><a href="/late">Lejáró</a></li>
                    <li><a href="/logout">Kilépés</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="/opened">Nyitott</a></li>
                    <li><a href="/suspended">Felfüggesztett</a></li>
                    <li><a href="/petition">Felterjesztett</a></li>
                    <li><a href="/department">Osztályos</a></li>
                    <li><a href="/closed">Lezárt</a></li>
                    <li><a href="/late">Lejáró</a></li>
                    <li><a href="/logout">Kilépés</a></li>
                </ul>
    {% endif %}
        </nav>
    </aside>
    <section id="main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-100">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>