{% extends "fk/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h3>Új ügy felvétele</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Új ügy mentése</button>
    </form>
{% endblock %}